# ignore all by default
*

# explicitly include
!.gitignore
!README.md
!starship.toml
!karabiner/karabiner.json

!aerospace/**
!alacritty/**
!hypr/**
!kitty/**
!nixos/**
!nvim/**
!scripts/**
!sketchybar/**
!skhd/**
!tmux/**
!wal/templates/**
!waybar/**
!yabai/**
!zshrc/**

# ignore
nvim/lazy-lock.json
