# ignore all by default
*
!*/

# explicitly include
!.gitignore
!README.md
!starship.toml

!aerospace/**
!alacritty/**
!tmux/**
!nvim/**
!yabai/**
!skhd/**
!sketchybar/**
!zshrc/**

# ignore
nvim/lazy-lock.json
