# ignore all by default
*

# explicitly include
!.gitignore
!README.md
!starship.toml
!karabiner/karabiner.json

!aerospace/**
!alacritty/**
!tmux/**
!nixos/**
!nvim/**
!yabai/**
!skhd/**
!sketchybar/**
!zshrc/**

# ignore
nvim/lazy-lock.json
